# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env
.env
.env.*

# macOS
.DS_Store

# editor
.vscode/
.idea/

# deployment local metadata
.vercel/
dist/.vercel/
dist/icons/
